:root{
    --dynamic-bg-color: #FFFFFF;
    --dynamic-text-color: #000000;
    /* --dynamic-input-color: #FFFFFF;  */
}


body{
 
    background-color: var(--dynamic-bg-color);
    /* background-color: var(--dynamic-input-color); */
    color: var(--dynami-text-color);
}

img{
    border-radius: 10px;
}

/* img{
    border-radius: 120px;
} */
