:root{
    --dynamic-bg-color: #FFFFFF;
    --dynamic-text-color: #000000;
    --dynamic-input-color: --dynamic-bg-color; 
}


body{
 
    background-color: var(--dynamic-bg-color);
    color: var(--dynami-text-color);
}

img{
    border-radius: 10px;
}

/* img{
    border-radius: 120px;
} */
